version: "3.8"

services:
  db:
    image: postgres:16
    container_name: pucpr_case_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: pucpr
      POSTGRES_PASSWORD: pucpr
      POSTGRES_DB: teaching_spaces
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
